.vscode/
ENDPOINT/remote_device_api/obj/
ENDPOINT/remote_device_api/bin/
ENDPOINT/remote_device_api/.vscode/
ENDPOINT/remote_device_api/.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
